*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width:80%;
    background-color: rgb(198,152,241);
    padding:34px;
    margin:auto;

}

.container h1,p{
    text-align: center;
}

input,textarea{
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    width: 80%;
    margin:11px auto;
    padding:7px;
    font-size: 24px;

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{
    background-color: gray;
    color:white;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
  
}

.btn{
    color:white;
    background: purple;
    padding:8px 12px;
    font-size: 20px;
    border:2px solid white;
    border-radius:15px;
    cursor: pointer;
}

.success-msg{
    color:green;
}